@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('../../node_modules/font-awesome/css/font-awesome.min.css');


.d-flex input {
    margin: 0.9rem 0.5rem;
}
.d-flex button {
    margin: 1.5rem 0.2rem;
}
.container table {
    margin: 1rem 2rem;
}
table .btnEdit{
    color: lightgreen;
    cursor: pointer;
}
table .btnDelete{
    color: orange;
    cursor: pointer;
}